@model ErrorViewModel
@{
    ViewData["Title"] = "Employee Not Found Error";
}

<h1 class="text-danger">Employee Not Found Error</h1>
<p class="text-danger">Employee Not Found!!</p>
<a asp-action="Index">Back to List</a>

